html, body {
	font-family: sans-serif;
	background: #bdc3d9;
	color: #2d2f33;
}
table {
	background: #8a8f9c;
	border-spacing: 1px;
	box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.4);
	text-align: center;
}
table thead {
	color: #f2f5ff;
	font-size: 1.1em;
	white-space: nowrap;
	text-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.4);
}
td, th {
	padding: 1px 3px;
}
thead {
	font-weight: normal;
	background: #9fa3b0;
	background: -o-linear-gradient(top, #b7bac7 30%, #9fa3b0 100%);
	background: -ms-linear-gradient(top, #b7bac7 30%, #9fa3b0 100%);
	background: -moz-linear-gradient(top, #b7bac7 30%, #9fa3b0 100%);
	background: -webkit-linear-gradient(top, #b7bac7 30%, #9fa3b0 100%);
	background: linear-gradient(top, #b7bac7 30%, #9fa3b0 100%);
}
tfoot {
	background: #9fa3b0;
	background: -o-linear-gradient(top, #9fa3b0 80%, #b7bac7 100%);
	background: -ms-linear-gradient(top, #9fa3b0 80%, #b7bac7 100%);
	background: -moz-linear-gradient(top, #9fa3b0 80%, #b7bac7 100%);
	background: -webkit-linear-gradient(top, #9fa3b0 80%, #b7bac7 100%);
	background: linear-gradient(top, #9fa3b0 80%, #b7bac7 100%);
}
tbody tr:nth-child(even) {
	background: #b7bac7;
}

tbody tr:nth-child(odd) {
	background: #bec4d4;
}
table input[type="submit"] {
	width:100%;
}
table.models td:nth-of-type(n+3):nth-of-type(-n+4) input,
table.modules td:nth-of-type(3) input,
table input[type="button"]  {
	width: 75px;
}
table.models td:nth-of-type(n+3):nth-of-type(-n+4) input,
table.modules td:nth-of-type(3) input,
table.timezones td:nth-of-type(2) input {
	text-align: right;
}
table.sections td:nth-of-type(2) input {
	width: 500px;
}
div.tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 20px;
	overflow: hidden;
}
div.tabs li {
	border: 1px solid #8a8f9c;
	background: #9fa3b0;
	background: -o-linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	background: -ms-linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	background: -moz-linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	background: -webkit-linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	background: linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	display: inline-block;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.4);
	text-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.4);
	margin: 0 0px;
	padding: 0 1em;
}
a {
	font-size: 1.1em;
	color: #f2f5ff;
	text-decoration: none;
}
h1 {
	color: #f2f5ff;
	margin-top: 0;
	text-align: center;
	font-weight: normal;
	border: 1px solid #8a8f9c;
	background: #9fa3b0;
	background: -o-linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	background: -ms-linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	background: -moz-linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	background: -webkit-linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	background: linear-gradient(top, #b7bac7 50%, #9fa3b0 100%);
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.4);
	text-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.4);
}
.import input[type="radio"] {
	vertical-align: top;
}

.import input[type="radio"] + label {
	display: inline-block;
}
.import input[type="text"] {
	width: 40px;
}

table.settings tbody tr select {
  min-width:100%;
}
